body {
  background-color: #f9f7fe;
  font-family: "Roboto", sans-serif;
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
}

main {
  padding: 30px 0;
}

footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
}

a {
  color: #885df1;
}

.weather-app {
  background-color: white;
  max-width: 600px;
  margin: 45px auto;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

.weather-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#search-form-input {
  background-color: #f9f7fe;
  width: 70%;
  padding: 15px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
}

#search-form-button {
  background-color: #885df1;
  color: white;
  border: none;
  padding: 15px 30px;
  margin-left: 5px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

#city-name {
  font-size: 38px;
  line-height: 48px;
  margin: 0;
}

#city-weather-details {
  font-size: 16px;
  line-height: 24px;
  color: rgba(39, 33, 66, 0.4);
  font-weight: 500;
}

#city-weather-details strong {
  color: #f65282;
}

#city-temperature-container {
  display: flex;
}

#temperature-icon {
  font-size: 44px;
  margin-top: 22px;
}

#temperature-value {
  font-size: 88px;
  font-weight: bold;
}

#temperature-unit {
  font-size: 28px;
  margin-top: 16px;
}
